# This file contains environment variables for the supabase
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET_NAME=

# This is the secret key for Clerk, which is used to sign JWTs and should be kept secret.
CLERK_SECRET_KEY=
CLERK_JWKS=
CLERK_ISSUER=

# Instram API secrets
INSTAGRAM_MEDIA_ID=
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_API_URL=